@media only screen and (min-width: 1060px) {
  .benefits-section {
    height: 100%;
    padding-bottom: 0 !important;
  }

  .benefits-list {
    display: flex;
  }
  .benefits-split {
    height: 100%;
    padding-bottom: 0;
  }
  .benefits-text-img {
    margin-top: 3rem !important;
    display: flex;
    height: 80%;
  }
  .left-side-benefits {
    width: 100%;
    height: auto;
    border-bottom: none !important;
  }
  .right-side-benefits {
    flex-basis: 60%;
    box-shadow: 40px -40px 0px 0px var(--secondary);
  }
}

.benefits-section {
  user-select: none;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 80%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--text);
}

.header-benefits {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  color: var(--background);
  flex-basis: 60%;
}

.logo-benefits {
  font-size: 2.5rem;
}

.logo-text-benefits > span {
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: var(--background);
}

.benefits-list {
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.benefits-split {
  background-color: var(--text);
  padding-top: 2rem;
  user-select: none;
}

.benefits-text-img {
  min-width: 400px;
  margin-top: 3rem;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-items: start;
  justify-content: center;
}

.left-side-benefits {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--primary);
  min-width: 400px;
  max-width: 555px;
}

.left-side-benefits > img {
  width: 100%;
  height: auto;
}

.right-side-benefits {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  color: var(--text);
  border-radius: 2%;
  padding: 2rem;
  background-color: var(--primary);
}

.benefits-title {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0.5rem;
}

.benefits-title > :nth-child(1) {
  font-size: 2rem;
}

.benefits-description > p > span {
  color: var(--secondary);
}
