:root {
  --text: #e7f2e7;
  --background: #040704;
  --primary: #a3cfa5;
  --secondary: #3d755f;
  --acent: #67b0a4;
}

body {
  background-color: #e7f2e7;
  scroll-padding-top: 97px;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 5px;
}
