@media only screen and (min-width: 1060px) {
  .contact-us-section {
    display: flex;
  }
  .contact-us-header-text {
    width: 50% !important;
  }
  .contact-us-title {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
  }
  .contact-us-subtitle {
    padding-bottom: 0 !important;
  }
  .form-join-now {
    display: flex;
    flex-direction: row !important;
    gap: 0.7rem;
  }
  .form-elements {
    display: flex;
  }
  .form {
    align-items: start !important;
  }
  .form-input {
    width: 100% !important;
  }
  .form-input-message {
    width: 100% !important;
  }
  .form-img {
    width: 100%;
    height: auto;
    justify-content: end !important;
  }
  .form-img > div > :nth-child(1) {
    box-shadow: 40px -40px 0px 0px var(--primary);
  }
}

.contact-us-section {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  user-select: none;
  width: 80%;
}

.contact-us-header > :nth-child(1) {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.contact-us-header > :nth-child(2) {
  font-size: 1rem;
}

.contact-us-header > span > :nth-child(1) {
  color: var(--secondary);
}

.contact-us-title {
  gap: 0.5rem;
}

.contact-us-subtitle {
  padding-bottom: 1rem;
}

.contact-us-subtitle > :nth-child(2n + 1) {
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: var(--background);
}

.form-elements {
  gap: 6rem;
}

.form-join-now {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

.join-now-input {
  font-size: 1rem;
  display: flex;
  background-color: var(--secondary);
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--background);
  height: 3rem;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 84%;
}

.join-now-input::placeholder {
  color: var(--text);
}

.join-now-error {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary);
}

.contact-us-form {
  padding-top: 2rem;
  gap: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding-bottom: 4rem;
  height: 100%;
}

.form-input {
  font-size: 1rem;
  display: flex;
  background-color: var(--secondary);
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--background);
  height: 3rem;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 84%;
}

.form-input::placeholder {
  font-size: 1rem;
  color: var(--text);
}

.form-input:: {
  color: var(--text);
}

.form-input-message {
  font-size: 1rem;
  background-color: var(--secondary);
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--background);
  height: 10rem;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 84%;
}

.form-input-message::placeholder {
  font-size: 1rem;
  text-align: start;
  color: var(--text);
}

.form-input-message:focus {
  border-color: var(--background);
}

.form-error {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary);
}

.form-button {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 4%;
  padding: 0.7rem;
  width: 10rem;
  background-color: var(--secondary);
  border: none;
  color: var(--text);
  transition: color, background-color 1s ease-in-out;
}

.form-button:hover {
  color: var(--background);
  background-color: var(--primary);
}

.form-img {
  display: flex;
  justify-content: center;
}

.form-img > div > :nth-child(1) {
  border-radius: 4%;
  width: 100%;
  height: auto;
}
